/*Classes*/
.navbar-nav > li > p {
    color: #ffffff;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
}

.carousel .item {
    overflow: hidden;
    height: 500px;
}

/*a.NavLink {
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #000000;
    color: #ffffff !important;
}*/
/*
a.NavLink:hover{
    margin-left:5px;
    margin-right:5px;
    background-color:#ffffff;
      
}

a.NavLink:visited {

      color:#428bca!important;
}
.jumbotron {
    background-color:#ffffff;
}
.navbar-fixed-top {
    background-color:#8E0A01;
}*/
.navbar-bottom {
    background-color: #8E0A01;
    width: 100%;
}

.btn {
    background-color: #0C01A2;
    border-color: #7681E9;
    color: #ffffff;
}
.jumbotron {
    background-color:white;
    font-size:18px;
}

.jumbotronReg {
    background-color:white;
    font-size:14px;
}



/*Element Styles*/
body {
    background-color:grey;
}
