
@{
    ViewBag.Title = "References";
}



<div class="jumbotron jumbotronReg">
    <h2>References</h2>
    <div class="row">
        <div class="col-md-6 ">


            <h3>Chris Dietz</h3>
            <p>Founder/CEO Dietz consulting, Technology Grows.</p>
            <p>Known for 2 years, boss and mentor.</p>
            <p>+1 850.264.3740, chrisdietz@dietzconsulting.com</p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6 ">


            <h3>Joe Clements</h3>
            <p>Co-Founder/CEO Stratigic digital services. Co-Founder Bundl LLC.</p>
            <p>Known for 1 year, main client.</p>
            <p>+1 561.602.1374, joe@strategicdigitalservices.net</p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6 ">
            <h3>Matt Farrar</h3>
            <p>Co-Founder/CEO Stratigic digital services. Co-Founder Bundl LLC.</p>
            <p>Known for 1 year, main client.</p>
            <p>+1 850.832.0006, matt@strategicdigitalservices.net</p>
        </div>
    </div>


</div>
