@model  PersonalWebsite.Web.CommandsAndClasses.MarkovChain
@{
    ViewBag.Title = "MarkovChain";
}

@for (int i = 1; i <= 10; i++)
{
    
    <p style="background-color:white;">
        @("Order: "+i*5+"\n")

        @Model.ToString(i*5)
    </p>
}
