@model  PersonalWebsite.Web.CommandsAndClasses.MarkovChain
@{
    ViewBag.Title = "MarkovChain";
}

@for (int i = 1; i <= 15; i++)
{
    
    <p style="background-color:white;">
        @("Order: "+i+"\n")

        @Model.ToString(i)
    </p>
}
